@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

* {
	-webkit-transition: border-color 0.3s;
}
html, body {
  height: 100%;
  min-height: 100%; /* for firefox */
}
body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #3498db;
}
.wrapper {
    background-image: url("../images/backgrounds/desktop.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 950px;
}

.login_box {
	font-family: 'Bellota-LightItalic', sans-serif;
	opacity: 1;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 7%;
	width: 35%;
	opacity: 0.98;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
}
.login_header {
	font-family: 'Bellota-LightItalic', sans-serif;
	width: 100%;
	height: 90px;
	background-color: #3498db;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 1% 0 0 0;
	color: #fff;
	text-align: center;
}
.login_header h1 {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	color: #1376B6;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 250%;
}
input[type="submit"]{
	background-color: #3498db;
	border: 1px solid #3498db;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	margin: 5px 0 10px 0;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #1376B6;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 100%;
}
input[type="text"], input[type="email"],input[type="password"]{
	border: 1px solid #e5e5e5;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 5px;
}
input[type="text"]:hover, input[type="email"]:hover,input[type="password"]:hover {
	border-color: #3498db;
}
.icon {
	right: 9px;
	padding-left: 3px;
	border-left: 1px solid #ccc;
	position: absolute;
	top: -1px;
	width: 29px;
	height: 29px;
	font-size: 15px;
	line-height: 29px !important;
	text-align: center;
	color: #ccc;
}

#second {
	display: none;
}

label {
	position: relative;
}
form {
	text-align: center;
}