@charset "UTF-8";
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
} 
* {
	font-family:"Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*-webkit-appearance: none;*/
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	outline: none; /* Added to remove highlight on profile add friend button */
}
@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}
form {
	margin: 0;
}
iframe {
	margin-top: 8px;
}
body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
    background-color: #e6eae8;
    width: 100%;
    height: 100%;
    min-width: 950px;
    color: #575656;
    line-height: 17px;
    font-size: 16px;
}
a {
	padding:0px;
    text-decoration:none;
    color:#3498db;
    border: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#grey {
	color: #808080;
}
.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}
nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10;
}
nav a {
	position: relative;
	color: #fff;
	text-decoration: none;
	padding-bottom: 5px;
	font-size: 17px;
}
nav	a:hover {
	border-bottom: 7px solid #e74c3c;
}
hr {
	border: 1px solid #D3D3D3;
	margin: 0;
}
input[type="submit"]{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}
input[type="submit"]:active {
	padding: 2px 0 0 2px;
}
.profile_left {
	top: -10px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	height: 100%;
	float: left;
	position: relative;
	background-color: #37B0E9;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
}
.profile_left img {
	min-width: 80px;
	width: 55%;
	border-radius:5px;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}
.profile_left_right {
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0 10px 0;
}
.profile_left_right p{
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 40px;
	background-color: #20aae5;
	border-bottom: 0.25em solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}
.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	color: #1086BA;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 180%;
	position: relative;
	top: 9px;
	font-size: 30;
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: #9297a2;
	z-index: -10;
	margin-bottom: 10px;
}
.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%; /* 90 */
	/*min-height:100%;*/
	min-width: 950; /* 1050 */
}
.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}
.profile_main_column {
	min-width: 675px;
	float: left;
	width: 70%;
	z-index: -1;
}

.main_column {
	float: right;
	width: 68%; /* 50 */
	z-index: -1;
	min-height: 152px;
}
.user_details {
	width: 250px;
	/*height: 300px;*/
	float: left;	
	margin-bottom: 20px;
}
.user_details img {
	height: 120px;
	border-radius: 5px;
	margin-right: 5px;
}
.user_details_left_right {
	width: 125px;
	display: inline-block;
	position: absolute;
}
.swirl_form {
	width: 100%;
}
.swirl_form textarea{
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
	width: 83%;
	max-width: 83%;
	min-width: 83%;
	height: 30px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
textarea:focus {
	outline: 0;
}
.swirl_form input[type="submit"]{
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
	width: 11%;
	min-width: 7%;
	height: 30px;
	border: none;
	border-radius: 10px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #2674A8;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	border-radius: 3px;
	outline: none;
	margin: 0;
}
.swirl_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
}
.swirl_form input[type='checkbox'] {
	margin: 0 0 2px 0;
	height: 20px;
}

.swirl_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	cursor: pointer;
}
.newsfeedPostOptions {
	padding:0px;
    text-decoration:none;
    color:#3498db;
    border: none;
}
.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

#comment_iframe {
	max-height: 250px; 
	width: 100%; 
	min-height: 10px; 
	border: none;
}

.swirl_profile_pic {
	float: left; 
	margin-right: 5px;
}

.swirl_profile_pic img {
	border-radius: 5px;
	margin-right: 2px;
}
.commentBump {
	background-color: #FFF;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0px;
}
.bump_value {
	display: inline;
	font-size: 14px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 13px;
	margin: 3px 3px 5px 3px;
}
#comment_form input[type='submit'] {
	border: none;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #2674A8;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	margin-left: 3px;
	position: absolute;
}

.comment_section {
	padding: 0 5px 5px 5px;
}
.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

.posted_by button {
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	top: -8;
	position: relative;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
}
.profile_left input[type="submit"]:active {
	padding: 2px 0 0 2px;
}
.danger{
	background-color: #e74c3c; /* red */
}
.warning{
	background-color: #f0ad4e; /* yellow */
}
.default{
	background-color: #bdc3c7; /* grey */
}
.success{
	background-color: #2ecc71; /* grey */
}
.info{
	background-color: #3498db; /* light blue */
}
.deep_blue{
	background-color: #0043F0; /* dark blue */
}

.main_column #decline_button{
	background-color: #e74c3c;
	width: 100px;
}
.main_column #save_details{
	background-color: #3498db;
	margin-bottom: 11px;
	width: 130px;
}
.main_column #close_account{
	background-color: #e74c3c;
	width: 130px;
}

/* Search bar div */
.search {
	margin: 8px 0 0 15%;
}
.search #search-text-input {
	border: thin solid  #e5e5e5;
    float:left;
    height:23px;
    outline:0;
    width:100px; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_holder{
    background-color:#f1f1f1;
    border: thin solid #e5e5e5;
    cursor:pointer;
    float:left;
    height:21px;
    text-align:center;
    width:50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
  
.button_holder img{
    margin-top:1px;
    width:20px; 
}
.search_result {
	padding: 10px;
	border-bottom: 1px solid #DADADA;
	height: 100px;
}
.result_profile_pic {
	float:left;
	margin-right: 10px;
}

.profile_left_info {
	margin: 10px 0 0 3px;
}
.searchPageFriendButtons {
	float: right;
}

/* Live search results */
.search_results {
   	background-color: #FFFFFF;
   	border: 1px solid #DADADA;
   	border-bottom: none;
   	border-top: none;
   	margin-top: 28px;
}
/* Search results (not live search in header) */
.results {
   	background-color: #FFFFFF;
   	border: 1px solid #DADADA;
   	border-bottom: none;
   	width: 42%;
	position: absolute;
}

.search_results_footer{
	padding: 5px 4px 0px 4px;
	height: 22px;
	border: 1px solid #DADADA;
	border-top: none;
	background-color: #20AAE5;
	text-align: center;
}
.search_results_footer a {
	color: #fff;
}

.resultDisplay {
	padding: 5px 4px 0px 4px;
	height: 60px;
	border-bottom: 1px solid #DADADA;
}
.resultDisplay a {
	float: none;
}
.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}
.liveSearchText {
	background-color : transparent;
	color: #1485BD;	
}
.liveSearchText p{
	margin: 0 0 0 10px;
	font-size: 12px;
}
.resultDisplayPageText {
	background-color : transparent;
	color: #1485BD;
}
.liveSearchProfilePic img {
	height: 53px;
	border-radius: 25px;
	margin: 1px 12px 0px 2px;
	float: left;
}
#small_profile_pic {
	height: 53px;
	margin: 1px 12px 0px 2px;
	float: left;
}

.resultDisplayNotification {
	height: auto;
	padding-bottom: 4px;
}

.notificationsProfilePic img {
	height: 40px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
}

#message_textarea {
	width: 80%;
	margin-right: 8px;
}
#message_submit {
	height: 50px;
	width: 120px;
	margin: 0;
	position: absolute;
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}
.message#blue {
	background-color: #3497db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}
.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}
#conversations {
	
}
.loaded_conversations {
	max-height: 200px;
	overflow: scroll;
}
.user_found_messages{
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 10px;
	padding: 8px;
}
.user_found_messages:hover{
	background-color: #D3D3D3;
}
.user_found_messages img {
	height: 35px;
	float: left;
}

.dropdown_data_window {
	background-color: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 300px;
	position: absolute;
	right: 10px;
	top: 44px;
	overflow: scroll;
}

/* loading gif for posts */
#loading {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#post_body iframe {
	border: none;
	margin: 8px 0;
}
.form-group textarea {
	width: 100%;
	max-width: 100%;
	height: 70px;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 6px;
	top: -5px;
}


